<!-- Tabs content -->
<div class="tab-content" id="tabs-content">
    <div class="tab-pane fade show active" id="home-tab">
        <div class="container-fluid">
            <div id="loader" class="row row-cols-1 row-cols-md-3">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div id="crypto-cards" class="row row-cols-1 row-cols-md-3 g-3"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="live-reports-tab">
        <div class="container-fluid">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="card">
                        <h1>Coming soon..</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="about-tab">
        <div class="container-fluid">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="card-title">
                                <img src="assets/images/linkdin-profile-img.png" class="img-about mb-3"
                                    alt="Programmer" />
                            </div>
                            <div class="d-inline-block mt-16 ms-3">
                                <h2 class="fw-bold">Ehab Zubedat</h2>
                                <h5 class="about-subtitle fw-bold">Full Stack Web Developer</h5>
                                <h4 class="fw-bold"><span><i class="fa-solid fa-envelope"></i></span>
                                    ehabzbedat@gmail.com</h4>
                            </div>
                            <hr class="divider-horizontal" />
                        </div>
                        <div class="card-content mx-4">
                            <h1 class="about-title fw-bold">About</h1>
                            <p>
                                In this project a single page that accesses information and reports of
                                cryptocurrency using <a href="https://www.coingecko.com/en/api#/">coingecko
                                    API.</a>
                            </p>
                            <h4 class="about-title mt-4 fw-bold">Website Features:</h4>
                            <ul class="dashed px-2">
                                <li>The ability To track cryptocurrency market values.</li>
                                <li>The ability To track cryptocurrency live reports (Coming soon).</li>
                                <li>Search for cryptocurrency.</li>
                            </ul>
                            <h1 class="about-title mt-4 fw-bold">This website was developed using:</h1>
                            <ul class="common-list px-2">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Bootstrap</li>
                                <li>JavaScript</li>
                                <li>JQuery</li>
                                <li>Ajax (RESTful API)</li>
                                <li>Node.js</li>
                                <li>CanvasJS</li>
                                <li>SweetAlert2</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./Tabs content -->